{% extends 'base.html' %}


{% block content %}

    <div class="container">

        <div class="row">
            <table class="sortable">

            <col width="100">
                <col width="80">
            <col width="550">
                <tr><th>Weblink</th><th>Ticker</th><th>Description</th><th>Date</th></tr>

                {% for item in newsItems %}
                    <tr>
                        <td height = "50"><a href="{{ item.url }}" target="_blank">Link</a></td>
                        <td height = "50">{{ item.ticker }}</td>
                        <td height = "50">{{ item.headline }}</td>
                        <td height = "50">{{ item.datetime }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
<div>
{% for pg in pg_num %}

<h1><a href='/'>Pg{{ pg }}</a></h1>
                {% endfor %}
</div>



{% endblock %}
